header{
    background-color: #782221;
}


address{
    background-color: #2c1d27;
}


#about-me{
    background-color: #782221;
  
}

footer{
    background-color: #782221;
}

h2{
    background-color: #dbc2a4;
}

